<form autocomplete="off" onsubmit="event.preventDefault();" class="charactermancer-form">
    <nav class="tabs" data-group="primary-tabs">
        {{#each object.progressions}}
        <a class="item" data-tab="{{this.class}}">{{this.class}}</a>
        {{/each}}
    </nav>

    <section class="content">
        {{#each object.progressions}}
        <div class="tab" data-tab="{{this.class}}" data-group="primary-tabs">{{this.class}} content</div>
        {{/each}}
    </section>
</form>